services:
  internal_dns:
    container_name: internal_dns
    build: ./internal_dns
    command: sh -c "
      named-checkconf &&
      named-checkzone mt.ru /var/cache/bind/mt.ru &&
      service named start &&
      rndc reload &&
      tail -F /dev/null"
    ports:
      - 2201:22
    volumes:
      - ./internal_dns/named.conf.local:/etc/bind/named.conf.local
      - ./internal_dns/named.conf.options:/etc/bind/named.conf.options
    networks:
      internal_net:
        ipv4_address: 192.168.1.11
  # external_dns:
  #   container_name: external_dns
  #   build: ./external_dns
  #   command: sh -c "
  #     named-checkconf &&
  #     named-checkzone mt.ru /var/cache/bind/mt.ru &&
  #     service named start &&
  #     rndc reload &&
  #     tail -F /dev/null"
  #   ports:
  #     - 2202:22
  #   volumes:
  #     - ./external_dns/named.conf.local:/etc/bind/named.conf.local
  #     - ./external_dns/named.conf.options:/etc/bind/named.conf.options
  #   networks:
  #     external_net:
  #       ipv4_address: 172.16.0.1
  # tvm:
  #   container_name: tvm
  #   networks:
  #     internal_net:
  #       ipv4_address: 192.168.1.12
  #   dns:
  #     - 192.168.1.11
  gate:
    container_name: gate
    build: ./gate
    networks:
      internal_net:
        ipv4_address: 192.168.1.13
      # external_net:
      #   ipv4_address: 172.16.0.3
    dns:
      - 192.168.1.11
  # auth:
  #   container_name: auth
  #   networks:
  #     internal_net:
  #       ipv4_address: 192.168.1.14
  #   dns:
  #     - 192.168.1.11
  # client:
  #   container_name: client
  #   networks:
  #     external_net:
  #       ipv4_address: 172.16.0.2
  #   dns:
  #     - 172.16.0.1

networks:
  internal_net:
    name: internal_net
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.1.0/24
  # external_net:
  #   name: external_net
  #   driver: bridge
  #   ipam:
  #     config:
  #       - subnet: 172.16.0.0/24
