services:
  internal_dns:
    container_name: internal_dns
    build: ./internal_dns
    command: sh -c "
      named-checkconf &&
      named-checkzone mt.ru /var/cache/bind/mt.ru &&
      service named start &&
      rndc reload &&
      tail -F /dev/null"
    volumes:
      - ./internal_dns/named.conf.local:/etc/bind/named.conf.local
      - ./internal_dns/named.conf.options:/etc/bind/named.conf.options
    networks:
      internal_net:
        ipv4_address: 192.168.1.200
  # external_dns:
  #   container_name: external_dns
  #   build: ./external_dns
  #   command: sh -c "
  #     named-checkconf &&
  #     named-checkzone mt.ru /var/cache/bind/mt.ru &&
  #     service named start &&
  #     rndc reload &&
  #     tail -F /dev/null"
  #   volumes:
  #     - ./external_dns/named.conf.local:/etc/bind/named.conf.local
  #     - ./external_dns/named.conf.options:/etc/bind/named.conf.options
  #   networks:
  #     external_net:
  #       ipv4_address: 172.20.0.1

  certvault:
    container_name: certvault
    image: hashicorp/vault:1.15.0
    environment:
      - VAULT_ADDR=https://127.0.0.1:8200
      - VAULT_TLS_SERVER_NAME=certvault.mt.ru
    volumes:
      - ./certvault/data/certservice/:/tmp/certservice/
      - ./certvault/data/:/vault/data/
      - ./certvault/certs/:/vault/certs/
      - ./certvault/config.hcl:/vault/config.hcl
      - ./certvault/setup_auth.sh:/vault/setup_auth.sh
      - ./certvault/setup_pki.sh:/vault/setup_pki.sh
      - ./certvault/start_vault.sh:/vault/start_vault.sh
      - ./certvault/generate_init_certs.sh:/vault/generate_init_certs.sh
    cap_add:
      - IPC_LOCK
    dns: 192.168.1.200
    dns_search:
      - internal_net
    networks:
      internal_net:
        ipv4_address: 192.168.1.100
    command: sh -c "
      /vault/start_vault.sh &&
      tail -F /dev/null"
    depends_on:
      - internal_dns
    healthcheck:
      test: ["CMD", "vault", "status", "-format=json"]
      interval: 10s
      timeout: 5s
      retries: 10
    restart: unless-stopped

  certservice:
    container_name: certservice
    build: ./certservice
    environment:
      - VAULT_ADDR=https://certvault.mt.ru.:8200
      - VAULT_CACERT=/etc/vault/ca.crt
      - VAULT_SKIP_VERIFY=false
    volumes:
      - ./certvault/data/certservice/:/run/secrets/
      - ./certvault/certs/:/etc/vault/
    networks:
      internal_net:
        ipv4_address: 192.168.1.102
    dns: 192.168.1.200
    depends_on:
      certvault:
        condition: service_healthy
    restart: unless-stopped

  tvm:
    container_name: tvm
    build: ./tvm_server
    environment:
      - SERVICE_NAME=tvm
      - SERVICE_IP=192.168.1.12
    networks:
      internal_net:
        ipv4_address: 192.168.1.12
    dns: 192.168.1.200
  tickets-storage:
    container_name: tickets-storage
    image: postgres:14.7-alpine
    environment:
      POSTGRES_DB: tickets_storage_db_1
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 123456789
    expose:
      - 5432
    volumes:
          - ./tvm_server/postgresql/schemas:/docker-entrypoint-initdb.d
    restart: unless-stopped
    networks:
      - internal_net
  gate:
    container_name: gate
    build: ./gate
    environment:
      - SERVICE_NAME=tvm
      - EXTERNAL_SERVICE_IP=172.20.0.3
      - INTERNAL_SERVICE_IP=192.168.1.13
    networks:
      internal_net:
        ipv4_address: 192.168.1.13
      # external_net:
      #   ipv4_address: 172.20.0.3
    dns: 192.168.1.200
  auth:
    container_name: auth
    build: ./auth_service
    environment:
      - SERVICE_NAME=auth
      - SERVICE_IP=192.168.1.14
      - CERT_SERVICE_URL=https://certservice:8080
    networks:
      internal_net:
        ipv4_address: 192.168.1.14
    dns: 192.168.1.200
  auth-storage:
    container_name: auth-storage
    image: postgres:14.7-alpine
    environment:
      POSTGRES_DB: auth_storage_db_1
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 123456789
    expose:
      - 5432
    volumes:
          - ./auth_service/postgresql/schemas:/docker-entrypoint-initdb.d
    restart: unless-stopped
    networks:
      - internal_net

  # client:
  #   container_name: client
  #   build: ./client
  #   networks:
  #     external_net:
  #       ipv4_address: 172.20.0.2
  #   dns:
  #     - 172.20.0.1

networks:
  internal_net:
    name: internal_net
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.1.0/24
  # external_net:
  #   name: external_net
  #   driver: bridge
  #   ipam:
  #     config:
  #       - subnet: 172.20.0.0/24
